<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'orderFood/css/main.css' %}" media="screen" title="no title" charset="utf-8copy">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            // fade through hero images
            var curr_img = 0;
            var next_img = 1;
            var img_cnt = $('#hero').attr('imgcount')
            setInterval(function(){
                $('.hero-img'+curr_img).fadeOut(function(){
                    $('.hero-img'+next_img).fadeIn();
                })
                if(curr_img == img_cnt - 1){
                    curr_img = 0;
                }else{
                    curr_img += 1;
                }
                if(next_img == img_cnt - 1){
                    next_img = 0;
                }else{
                    next_img += 1;
                }
            }, 4000)
        })
    </script>
</head>
<body>
    <header class="site-header">
        <div class="row site-header-contact">
            <div class="col-sm-12 text-center">
                <a class="text-white site-header-location" href="https://www.google.com/maps/place/Pancake+Palace/@38.6802721,-121.3856166,17z/data=!4m13!1m7!3m6!1s0x809ad8914f736601:0x78a242859b3080dc!2s6225+Watt+Ave,+North+Highlands,+CA+95660!3b1!8m2!3d38.6802721!4d-121.3834279!3m4!1s0x809ad8914fbd1af3:0x3d1b289385f1957f!8m2!3d38.6802644!4d-121.3833777" target="_blank"><span>6225 Watt Ave, North Highlands, CA 95660</span></a>
                <a class="text-white" href="tel:(123)456-7890">(123) 456-7890</a>
            </div>
        </div>
        <div class="site-header-main">
            <img id="site-logo" src="{% static 'orderFood/img/ppp_logo.JPG' %}">
            <ul class="site-menu-main">
                <li><a href="#!">Hours &amp; Location</a></li>
                <li><a href="#!">Menu</a></li>
                <li><a href="#!">About</a></li>
                <li><a href="#!">Order Online</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section id="hero" class="row" imgcount="{{hero_images|length}}">
            {% for image in hero_images %}
                {% if forloop.counter == 1 %}
                <div class="col-sm-12 hero-img hero-img{{forloop.counter0}}" style="background-image: url('{{image}}')"></div>
                {% else %}
                <div class="col-sm-12 hero-img hero-img{{forloop.counter0}}" style="display: none; background-image: url('{{image}}')"></div>
                {% endif %}
            {% endfor %}
        </section>
    </main>
</body>
</html>